li {
  list-style: none;
  display: inline-block;
  margin: 5px 10px;
  cursor: pointer;
}

li:hover {
  border-bottom: 2px solid #fff;
}

li i {
  margin-right: 5px;
}

.selected {
  border-bottom: 2px solid #fff;
}
