.rank {
  display: inline-block;
  text-align: right;
  width: 80px;
}

tr:nth-child(1) {
  font-weight: bold;
}

tr:nth-child(1) .rank::before {
  content: "🥇";
  margin-right: 20px;
}

tr:nth-child(2) .rank::before {
  content: "🥈";
  margin-right: 20px;
}

tr:nth-child(3) .rank::before {
  content: "🥉";
  margin-right: 20px;
}
